@charset "UTF-8";

body {
    background-color:rgb(12, 221, 123);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(221, 6, 6);
}

h1#main{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

h2 {
    color: blue;
}
h2.basico {
    color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2.intermediario {
    color: aqua;
}
h2.avançado {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}